.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(29, 110, 29);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Anton', sans-serif;
    color: rgba(255, 255, 255, 0.856)
}	 


.topnav {
    background-color: #333;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width:100%;
  }
  
  /* Style the links inside the navigation bar */

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #content {
    display: flex;
    justify-content: center;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
    height: auto;
  }

  #top{
    display:flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    margin-bottom:25px;
}

#top >h1{
    text-align: center;
    margin-bottom: 0px;
}

#top >h2{
    text-align: center;
    margin-bottom: 0px;
}

#news1{
    display: flex;
    flex-direction: row;
    border: solid 5px;
    border-color: #333;
}

#news1 > img{
    height:50%;
    width:15%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom:10px;
}

#textbox{
    display:flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
    margin-left:10px;
}


#news2{
    display: flex;
    flex-direction: row-reverse;
    border: solid 5px;
    border-color: #333;
    margin-top:10px;
}

#news2 > img{
    height:50%;
    width:15%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom:10px;
}

#textbox2{
    display:flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
    margin-left:10px;
}


#news3{
    display: flex;
    flex-direction: row;
    border: solid 5px;
    border-color: #333;
    margin-top:10px;
}

#news3 > img{
    height:50%;
    width:15%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom:10px;
}

#textbox3{
    display:flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
    margin-left:10px;
}



#news4{
    display: flex;
    flex-direction: row-reverse;
    border: solid 5px;
    border-color: #333;
    margin-top:10px;
}

#news4 > img{
    height:50%;
    width:15%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom:10px;
}

#textbox4{
    display:flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
    margin-left:10px;
}


#news5{
    display: flex;
    flex-direction: row;
    border: solid 5px;
    border-color: #333;
    margin-top:10px;
    margin-bottom:70px;
}

#news5 > img{
    height:50%;
    width:15%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom:10px;
}

#textbox5{
    display:flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
    margin-left:10px;
}